/build_local/
/node_modules/
/vendor/
/.idea/
/.vscode/
/_tmp/
npm-debug.log
yarn-error.log

# Optional ignores
# /build_staging/
# /build_production/
# /source/assets/build/css/
# /source/assets/build/fonts/
# /source/assets/build/js/
# /source/assets/build/mix-manifest.json
