/.editorconfig           export-ignore
/.git-blame-ignore-revs  export-ignore
/.gitattributes          export-ignore
/.github                 export-ignore
/.gitignore              export-ignore
/CONTRIBUTING.md         export-ignore
/logo.png                export-ignore
/jigsaw-banner.png       export-ignore
/phpunit.xml             export-ignore
/pint.json               export-ignore
/tests                   export-ignore
